/* font colors */

$color-1: #F39F18;  // vivid orange
$color-2: #2c3949;  // very dark desaturated blue
$color-3: #333;     // very dark grey
$color-4: #fff;     // wight
$color-5: #1c242c;  // very dark (mostly black) blue
$color-6: #97a4b2;  // dark grayish blue
$color-7: #495e79;  // mostly desaturated dark blue

/* beckground colors*/
$bg-color-1: #f9f9f9;  // very light gray (mostly white)
$bg-color-2: #394b5f;  // very dark desaturated blue
$bg-color-3: #d0d4da;  // light grayish blue
$bg-color-4: #e5e5e5;  // very light gray